@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  background-color: #a8bad3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
  background-color: #c5d3f1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

.App-link {
  color: #61dafb;
}

.avatar {
  background-color: #c4c4c4;
  height: 300px;
  width: 250px;
  display: inline-block;
  margin: 10px;
  border: 5px solid black;
  vertical-align: middle;
}

.userInfo {
  height: 300px;
  width: 250px;
  display:inline-block;
  vertical-align: middle;
}

.text {
  font-size: 34px;
  display: inline-block;
}

.editButton{
  border: 2px solid gray;
  margin: 15px;
  font-size:14px;
}

.editButton:hover {
  border: 3px solid black
}

.friends{
  margin: 50px 100px;
  width: 100%;
}

.addFriends{
  width: 100%;

  vertical-align: middle;

}

.addFriends form input, .addFriends form button {
  width: 10%;
  padding: 15px 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 20px;
  border: 1px;
  background: #899cb4;
  color: #070707;
}

.addFriends form button {
  width: 15%;
  cursor: pointer;
  transition: transform 500ms ease;
}

.addFriends form button:hover {
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
